# CACHE
.idea
.vscode
*.py[cod]
*/__pycache__
*.so
*.egg
*.egg-info
.pytest_cache
./deploy/node/travis_node.yml
deploy/tmp
deploy/platon

# VE
venv

# LOG
*.log
*/log
log
__debug__.py

# BIN
deploy/rely/bin/platon

# OTHER
report/*
*/report
*/.cache
*/.hypothesis
*cache
cache*
allure-report
debug_run.py
*/debug_run.py
deploy/rely/tmp/*
test.py
handle_log.py
bug_log
tmp_log
